<mat-card>
  <mat-card-header>
    <div
      mat-card-avatar
      class="example-header-image"
      [style.background-image]="getImageUrl(news.image_url)"
    ></div>
    <mat-card-title>{{ news.title }}</mat-card-title>
    <mat-card-subtitle>{{ news.source }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="news.image_url" alt="News Image" />
  <mat-card-content>
    <p>{{ news.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="openLink(news.url)">Read More</button>
  </mat-card-actions>
</mat-card>
