<app-navigation (navToggle)="handleNav($event)"></app-navigation>

<ng-container *ngIf="currentView === 'News'">
  <app-news-tile
    class="news-tile"
    *ngFor="let news of newsData?.data"
    [news]="news"
  ></app-news-tile>
</ng-container>

<ng-template [ngIf]="currentView === 'Favorites'">
  <div class="stock-data">
    <app-stock-data
      *ngFor="let stock of stockData"
      [stockData]="stock"
    ></app-stock-data>
  </div>
  <div class="buttons">
    <app-favorites (searchValue)="handleSearchValue($event)"></app-favorites>
    <button
      mat-raised-button
      color="primary"
      (click)="onSearch()"
      class="search-button"
      style="margin-top: 10px"
    >
      Search Your News
    </button>
  </div>
</ng-template>

<ng-container *ngIf="currentView === 'Profile'"> <p>WIP</p></ng-container>
