.news-tile {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}

.buttons {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    height: calc(100vh - 64px);
    right: 0;
    bottom: 0;
}

.stock-data {
    display: flex;
    flex-wrap: wrap;
}