<app-navigation (navToggle)="handleNav($event)"></app-navigation>

<ng-container *ngIf="currentView === 'News'">
  <div class="news-tile">
    <app-news-tile
      *ngFor="let news of newsData?.data"
      [news]="news"
    ></app-news-tile>
  </div>
  <button
    *ngIf="!demo"
    style="position: absolute; bottom: 0; right: 0"
    mat-raised-button
    color="primary"
    (click)="onDemoData()"
  >
    Demo Data
  </button>
</ng-container>

<ng-template [ngIf]="currentView === 'Favorites'">
  <div class="stock-data">
    <app-stock-data
      *ngFor="let stock of stockData; index as $index"
      [stockData]="stock"
      [stockName]="getStockName($index)"
    ></app-stock-data>
  </div>
  <div class="buttons">
    <app-favorites (searchValue)="handleSearchValue($event)"></app-favorites>
  </div>
</ng-template>

<ng-container *ngIf="currentView === 'Profile'"> <p>WIP</p></ng-container>
